# Build output
dist/

# Dependencies
node_modules/

# Azure Functions
bin/
obj/
appsettings.json
local.settings.json
.python_packages/

# Logs
*.log

# Editor / OS
.DS_Store
.vscode/
.idea/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
